.footer-section{
    background-color: #363537  ;
    
}
.footer-heading{
    color:white;
}
.footer-para{
    color:#828085 ;
}
.footer-para1{
    color:white;
    font-weight: bold;
}
.footerlist{
    color:white;
}
ul{
    list-style: none;
}
.footer-icon{
    
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	
}

.mail-bar{
    background-color: #535253;
    font-weight: bold;
}
.sub-button{
    background-color: rgb(3, 253, 170);
    padding: 3px;
    color: white;
    width: 100px;
    font-weight: bold;
}
/*********/
.footer-payment-icon{
    background-color: black;
    
}
.power{
    color:#828085 ;
}
.power1{
    color:white;
    font-weight: bold;
}